<h1>This is a list of Restaurants</h1>

<ul>
<% @restaurants.each do |restaurant| %>
<li><%= link_to restaurant.name, restaurant_path(restaurant)%></li>
<% end %>

<%= link_to "Create a Restaurant", new_restaurant_path %>
</ul>
